<style>
    .fa-brands {
        text-decoration: none;
        color: rgb(46, 42, 42);
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/listings"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://github.com/Harish-Joshi6367/MAJORPROJECT"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.linkedin.com/in/harish63"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wadrelust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>