<% layout("/layouts/boilerplate") %>
<body>
    <div class="row offset-2">
        <div class="col-8">
            <br><br>
            <h3>Create New Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation"
                        enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a Catchy Title" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>

                <!-- <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-select form-select-sm">
                        <option value="Mountain">Mountain</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Boats">Boats</option>
                    </select>
                    <div class="invalid-feedback">Title should be valid</div>
                </div> -->
                
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-lable">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="title" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="title" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Raipr bag, dehli" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                <button class="btn btn-dark add-btn">Add</button><br><br>
            </form>
        </div>
    </div>
    <script src="js/Switch_Search.js"></script>
</body>