/* filter */

#filters{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.5;
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}
.filter a {
    color: rgb(59, 54, 81);
    text-decoration: none;
}
.filter p {
    font-size: 0.8rem;
}
.tax-info {
    display: none;
}
.tax-toggle {
    border: 1px solid rgb(46, 43, 43);
    border-radius: 1rem;
    padding: 0.7rem;
    height: 3rem;
    margin-left: 3rem;
}



/* search */

.search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
}
.btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.btn-search:hover {
    background-color: #fe424d;
    color: #fff;
}
.btn-search i {
    display: inline;
    margin: 0.5rem;
}




@media (max-width: 400px) {
    .tax-toggle {
        display: none;
    }
}
